# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
!packages/silicon-ui/dist
.next
out
build
storybook-static

# Turbo
.turbo

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
